* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(29, 29, 29);
}

body {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
}
/*Left side*/
.left {
    display: flex;
    justify-content: center;
}

.image {
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 35vw;
    z-index: -2;
}

.imageContainer {
    width: 35vw;
    display: flex;
}

.imageText {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 35vw;
    margin-top: 15%;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5vw 0;
}

.logo {
    margin-left: 180px;
    height: 5vw;
    z-index: -1;
}
.logo-text {
    color: white;
    font-size: 5em;
}

/* Right side */
.right {
    width: 65vw;
    display: flex;
    flex-flow: column nowrap;
    background-color: #eeeeee;
}
/*Filler text*/
.main-text {
    font-size: 1.8em;
    font-weight: bold;
    padding: 50px 300px 50px 80px;
}

.main-text :nth-child(1) {
    padding-bottom: 50px;
}

/*Form*/
form {
    padding: 50px 0px 50px 80px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px #c2c2c2;
}

legend {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: row;
}

.left-column {
    margin-right: 50px;
}

.inputs {
    display: flex;
    flex-flow: column;
    letter-spacing: 3px;
}

.form label {
    font-size: .8em;
}

.form input {
    border-style: solid;
    padding: 5px 100px 5px 5px;
    margin-bottom: 25px;
    border-width: 1px;
    border-radius: 5px;
    font-weight: bold;
    border-color: #bebebe;
}

input:focus {
    outline: none;
    border-color: #2681e9;
    box-shadow: 5px 5px 10px #c2c2c2;
}
input:invalid:focus {
    border: 2px solid rgb(255, 69, 100)
}
  
input:focus:valid {
    border: #2681e9 2px solid;
}

/*Login section*/
.login {
    font-size: 1.5em;
}

.btn {
    border: none;
    border-radius: 15px;
    padding: 25px 65px;
    margin: 60px 80px;
    background-color: #596D48;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn:active {
    transform: translateY(2px);
  }

.login-box {
    display: flex;
    margin-left: 80px;
}

.login-box a {
    color:#596D48;
    text-decoration: none;
}